<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css" type="text/css">
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div class="jumbotron">
            <h1>The Great Word Counter</h2>
        </div>

        <div class="container">
            <form action="/display" method="get">
                <div class="form-group">
                    <label for="word">Enter a Word for which to search:</label>
                    <input type="text" name="word" id="search_word">
                </div>
                <div class="form-group">
                    <label for="sentence">Enter a Sentence to search:</label>
                    <textarea name="sentence" id="search_sentence"></textarea>
                </div>
                <div class="form-group">
                    <p> <strong>Also search for Simple Plurals? (plurals that end in "S")?</strong></p>
                    <label class="radio-inline">
                          <input type="radio" name="pluralOK" id="pluralOK1" value="yes"> YES
                    </label>
                    <label class="radio-inline">
                          <input type="radio" name="pluralOK" id="pluralOK2" value="no" checked> No
                    </label>
                </div>

                <button class="btn btn-lg btn-primary" type="submit">Count 'em Up!</button>

            </form>

        </div>
        <div class="container results">
            {% if count is not empty %}
            <h2>The word: <strong> <span class="theWord">{{word}}</strong></span> appears in the sentence <em>"{{sentence}}"</em><span class="theCount"> {{count}}</span> times!</h2>
            {% endif %}


        </div>

    </body>
</html>
